.main{
    text-align: center;
}
button{
    background-color: blue;
    width: 150px;
    height: 100px;
    color: wheat;
    padding: 10px;
    margin: 10px;

}
#Num{
    font-size: 100px;
}

.reset{
    background-color: red;
    width: 300px;
    height: 100px;
    color: wheat;
    padding: 10px;
    margin: 10px;
}